

 <div class="wrapper">

  <app-sidebar></app-sidebar>
  <div class="menu">
    <div class="Heading">

    </div>

    <div class="paymentwrapper">
      <div class="paymentcontainer">

        <article class="card">
          <div class="container">
            <div class="card-title">
              <h2>Payment</h2>

            </div>
            <div class="card-body">
              <div class="payment-type">
                <h4>Click pay and choose method below: <button (click)="pay()"  class="button button-primary">Pay</button></h4>

                <div class="">
                  <div class="type">
                    <div class="">
                      <i class=""></i>
                    </div>
                    <div class="text">
                      <p></p>
                    </div>
                  </div>
                  <div class="type selected">
                    <div class="">
                      <i class=""></i>
                    </div>
                    <div  class="text">
                      <p></p>
                    </div>
                  </div>
                  <div class="type">
                    <div class="">
                      <i class=""></i>
                    </div>
                    <div class="text">
                      <p></p>
                    </div>
                    <div id="payments"></div>


                    <div id="paypal-checkout-btn"></div>
                  </div>
                </div>
              </div>




            </div>
          </div>
        </article>

      </div>
    </div>











  </div>


</div>

<app-footer></app-footer>
