.loginwrapper
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url(src/assets/Flight1.jpg);
  background-color: black;
  position: relative;

}

.logincontainer
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
  background-color: white;
  border-radius: 1rem;
  padding: 3rem;
}

.loginform
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  padding: 1rem 0 3rem 0 ;
}

.loginform__heading
{
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  padding: 1rem 0;
  font-weight: 600;
}

.inputcontainer
{
  margin: 0.2rem 0;
}

.label {
  font-size: 1rem;
  color: #555;
  text-transform: capitalize;
  display: block;
  margin-bottom: 0.2rem;
}

.loginform__input
{
  line-height: 2.5rem;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 5px;
  padding: 0 2rem;
  font-size: 1.3rem;
  color: #666;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: none;
  width: 20rem;
}

.pwdcontainer
{
  position: relative;
}

.loginform__toggleicon
{
  position: absolute;
  font-size: 1.3rem;
  top: 4rem;
  right: 1.5rem;
}

.submitbtn
{
  padding: 1rem 1rem;
  outline: none;
  color: floralwhite;
  background-color: blueviolet;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 10rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

small
{
  font-size: 0.8rem;
  color: red;
}

.loginsignupbtn
{
  padding-left:10px;
  padding-top:20px;
  font-size: small;
  text-decoration: none;
}

.fa-arrow-circle-right
{
  padding:5px;
}

.forgotpwd
{
  font-size: 0.8rem;
  position: absolute;
  top: 5rem;
  right: -2rem;
  cursor: pointer;
  margin-bottom: 2rem;
  outline: none;
}

@media screen and (max-width:500px)
{
  .logincontainer
  {
    width: 95vw;

  }
}
