<h1>Food Details</h1>

<table>
  <tr>
    <td>Food Id:</td>
    <td>{{food.id}}</td>
  </tr>
  <tr>
    <td>Food Name:</td>
    <td>{{food.name}}</td>
  </tr>
  <tr>
    <td>Food description:</td>
    <td>{{food.description}}</td>
  </tr>
  <tr>
    <td>Food Price:</td>
    <td>{{food.price}}</td>
  </tr>
</table>
<br>
<img src="{{food.retrievedImage}}" height="200" width="200">
<br><br>
<a class="btn btn-small btn-warning" (click)="editFood()">edit</a>
<a class="btn btn-small btn-danger" (click)="deleteFood()">delete</a>
