<div class="wrapper">

  <app-sidebar></app-sidebar>
  <div class="menu">
    <div class="Heading">
      <h1>Add Customer Feedback</h1>
    </div>

    <form style="width: 40%;" #frm="ngForm" (ngSubmit)="addFeedback()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFName4">First Name</label>
          <input type="text" class="form-control"  name="firstName" required #firstName="ngModel" [(ngModel)]='customerFeedback.firstName'>
          <div *ngIf = "firstName?.touched && firstName?.invalid" class="text-danger">
            <div *ngIf = "firstName.errors?.required">
              First name can't be Empty
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputLNamel4">Last Name</label>
          <input type="text" class="form-control"  name="lastName" required #lastName="ngModel" [(ngModel)]='customerFeedback.lastName'>
          <div *ngIf = "lastName?.touched && lastName?.invalid" class="text-danger">
            <div *ngIf = "lastName.errors?.required">
              Last name can't be Empty
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputLNamel4">Email</label>
          <input type="text" class="form-control"  name="emailFeedback" required #emailFeedback="ngModel" [(ngModel)]='customerFeedback.emailFeedback'>
          <div *ngIf = "emailFeedback?.touched && emailFeedback?.invalid" class="text-danger">
            <div *ngIf = "emailFeedback.errors?.required">
              Email can't be Empty
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="inputLNamel4">Message:</label>
          <textarea class="form-control" name="message" rows="3" required #message="ngModel" [(ngModel)]='customerFeedback.message'></textarea>
          <div *ngIf = "message?.touched && message?.invalid" class="text-danger">
            <div *ngIf = "message.errors?.required">
              Message name can't be Empty
            </div>
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="frm.invalid"  class="btn btn-primary">Add Feedback</button>
    </form>

    <div style="margin-top: 15px" class="alert alert-success" *ngIf="isSuccessful">Your feedback is add succesfully!</div>
  </div>


</div>

<app-footer></app-footer>
