# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Dawid\Downloads\spring-boot-angular-oauth2-social-login-demo-main\spring-boot-oauth2-social-login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
