<div class="wrapper">

  <app-sidebar></app-sidebar>
  <div class="menu">
    <div class="Heading">
      <h1>Send response:</h1>
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="col-md-6 form-group">
          <label for="name">Feedback ID:</label>
          <input type="text" class="form-control" id="feedbackId" [disabled]="feedbackId" required [(ngModel)]="feedback.feedbackId" name="feedbackId">
        </div>

        <div class="col-md-6 form-group">
          <label for="name">E-mail</label>
          <input type="text" class="form-control" id="emailFeedback"[disabled]="feedback.emailFeedback"  required [(ngModel)]="feedback.emailFeedback" name="emailFeedback">
        </div>
      </div>

      <div class="form-group col-md-12">
        <label for="inputLNamel4">Client message:</label>
        <textarea class="form-control" name="message" id="message" rows="3" [disabled]="feedback.message" [(ngModel)]='feedback.message'></textarea>
      </div>

      <div class="row">

        <div class="col-md-12 form-group">
          <label for="name">Email subject:</label>
          <input type="text" class="form-control" id="subject" required [(ngModel)]="feedback.subject" name="subject">
        </div>
      </div>

      <div class="form-group col-md-12">
        <label for="inputLNamel4">Message:</label>
        <textarea class="form-control" name="responseMessage" id="responseMessage" rows="3" required #responseMessage="ngModel" [(ngModel)]='feedback.responseMessage'></textarea>
        <div *ngIf = "responseMessage?.touched && responseMessage?.invalid" class="text-danger">
          <div *ngIf = "responseMessage.errors?.required">
            Message can't be Empty
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Send</button>
    </form>


    <div style="margin-top: 15px" class="alert alert-success" *ngIf="isSuccessful">Your reply has been sent successfully! Please wait!</div>
  </div>


</div>

<app-footer></app-footer>
